<div class="img-wrapper">
  <div id="mainvisual"></div>
</div>

<div class="text">
  <h1 class="site-title">ながの Cake</h1>
  <p>ようこそながのCAKEへ!</p>
  <p>このサイトは、ケーキ販売のECサイトになります。</p>
  <p>会員ではない方も商品の閲覧ができますが</p>
  <p>購入には会員登録が必要です。</p>
</div>


<ul class="flex">
  <% @liquors.each do |liquor| %>
  <li class="item">
    <%= attachment_image_tag liquor, :image %>
    <%= link_to liquor_path(liquor) do %>
    <div class="mask">
      <div class="caption">
        <h1><%= liquor.name %></h1>
        <p>¥<%= (liquor.detail) %></p>
      </div>
    </div>
  <% end %>
  </li>
<% end %>
</ul>

<div class="text">
  <%= link_to '全てのお酒を見る', user_liquors_path, class:"btn btn-outline-dark" %>
</div>