<link rel="assets" href="stylesheets/skippr.css" />
<div class="content">
  <div class="theTarget" class="mb-5">
    <div class="slide1"></div>
    <div class="slide2"></div>
    <div class="slide3"></div>
    <div class="slide4"></div>
  </div>

  <div class="row">
    <div class='container mt-5 text-center'>
      <p class='mt-5 text-black-50 display-4 p-3'>LIQUOR TOPICS</p>

        <div class="row flex-container">
          <% @liquors.each do |liquor| %>
            <div class="flex-item">
              <%= attachment_image_tag liquor, :image %></br>
              <%= link_to liquor_path(liquor) do %>
              <%= liquor.name %>
              <%= (liquor.detail) %>
              <% end %>
            </div>
          <% end %>
          <%= link_to '全てのお酒を見る', users_liquors_path, class:"btn btn-outline-dark" %>
        </div>
    </div>
  </div>
</div>