<div class="container">
  <h3 class="my-4 d-inline-flex">会員情報編集</h3>

  <%= form_with model: @user, url: users_users_path(@user), method: :PATCH, local: true do |f| %>

    <div class="row mb-3">
      <label class="col-lg-3">名前</label>
      <div class="col-lg-3">
        <%= f.text_field :name, class:'mb-2' %>
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-lg-3">メールアドレス</label>
      <div class="col-lg-3">
        <%= f.email_field :email, autocomplete: "email", class:'ml-5', placeholder:'sample@exanple.com' %>
      </div>
    </div>

    <div class="row">
      <lavel class="col-lg-3"></lavel>
      <div class="col-lg-3">
        <%= f.submit " 編集内容を保存 " , class:'btn btn-success ml-5 btn-sm px-4 mb-2' %>
      </div>
      <div class="col-md-5 ml-5 mb-5">
       <%= link_to '退会する', users_users_withdrawal_path, class: 'btn btn-danger btn-sm px-5' %>
      </div>

    </div>

  <% end %>
</div>