<div class ="container">

  <div class="text mt-5">
    <h1 class="site-title mb-3">口コミ一覧</h1>
    <p>※商品画像をクリックすると、詳細をご覧いただけます。</p>
  </div>
     <table class="table">
      <tbody>
        <tr>
          <% @liquor_comment.each do |liquor_comment| %>
          <td><%= link_to user_liquor_liquor_comment_path(liquor_comment) do %></td>
            <td><%= attachment_image_tag liquor, :image, class='img' %></td>
            <% end %>
          <td><%= liquor.name %></td>
          <td><%= liquor.lipuor_comment %></td>
          <% end %>
        </tr>
       </tbody>
     </table>

    <div class="paginate">
      <%= paginate @liquors %>
    </div>
</div>