<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>お酒新規登録</h2>
      <%= form_with model: @liquor, url: admins_liquors_path, local:true do |f| %>
        <table class='table'>
         <tr>
       	   <th>お酒画像</th>
       	   <td><%= f.attachment_field :image %></td>
       	 </tr>
         <tr>
       	   <th>お酒名</th>
       	   <td><%= f.text_field :name %></td>
         </tr>
         <tr>
       	   <th>お酒說明</th>
       	   <td><%= f.text_area :detail %></td>
         </tr>
         <tr>
       	   <th>ジャンル</th>
       	   <td><%= f.collection_select :genre_id, Genre.all, :id, :name  %></td>
         </tr>

        </table>
        <%= f.submit "新規登録", class: "btn btn-success btn-lg"%>
       <% end %>
    </div>
  </div>
</div>