<div class='container'>
  <div class='col-md-8 offset-md-4'>
   <h2 class = "my-3 py-3"><%= @user.name%>さんの会員詳細</h2>
    <table class="table">
      <tr>
        <th>会員ID</th>
        <td><%= @user.id%></td>
      </tr>

      <tr>
        <th>氏名</th>
        <td><%= @user.name%></td>
      </tr>

　　　<tr>
　　　  <th>メールアドレス</th>
　　　  <td><%= @user.email%></td>
　　　</tr>

　　　<tr>
　　　  <th>会員ステータス</th>
　　　  <td><%= @user.user_status%></td>
　　　</tr>

　　　<tr>
　　　  <td></td>
　　　  <td><%= link_to '編集する',edit_admins_user_path(@user.id), class:"btn btn-success" %>　<%= link_to '投稿履歴を見る',admins_top_path, class:"btn btn-info" %></td>
　　　</tr>
    </table>
  </div>
</div>