<div class ="container">

  <div class="text mt-5">
    <h2 class="site-title mb-3">お酒一覧</h2>
  </div>
    <table class="table">
          <thead>
            <tr>
              <th>画像</th>
              <th>銘柄</th>
              <th>説明文</th>
              <th>ジャンル</th>
            </tr>
          </thead>
          <tbody>
          <% @liquors.each do |liquor| %>
            <tr>
                <td><%= attachment_image_tag liquor, :image, class:'img' %></td>
                <td><%= link_to liquor.name, users_liquor_path(liquor.id) %></td>
                <td><%= liquor.detail %></td>
                <td><%= liquor.genre.name %></td>
            </tr>
          <% end %>
          </tbody>
        </table>

    <div class="paginate">
      <%= paginate @liquors %>
    </div>
</div>