<div class="container">

  <div class="row mt-5 mb-5">
    <div class="col-md-4 text-center mb-5">
      <%= attachment_image_tag @liquor, :image, size: '310x300' %>
    </div>
    <div class="col-md-8 px-5">
      <div class="row">
        <h2><%= @liquor.name %></h2>
      </div>
      <div class="row mt-3 mb-5">
        <p style='line-height:2rem'>
          <%= @liquor.detail %>
        </p>
      </div>
      <div class="row mt-3 mb-5">
        <p style='line-height:2rem'>
          <%= @liquor.genre.name %>
        </p>
      </div>

        <% if current_user == @user %>
        <!--星評価-->
        <td>
          <div id="rate-<%= @liquor.id %>"></div>
          <script>
            $('#rate-<%= @liquor.id %>').raty({
              size: 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              readOnly: true,
              half: true,
              score: <%= @liquor.rate %>,
            });
          </script>
        </td>
        <!--星評価-->

        <td><%= link_to '編集', edit_users_liquor_path(@liquor), class: "btn btn-sm btn-success edit_liquor_#{@liquor.id}" %></td>
        <td><%= link_to '削除', users_liquor_path(@liquor), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_liquor_#{@user.id}" %></td>

        <% end %>

      <!--コメント-->
      <div class="comments">
        <% @liquor.liquor_comments.each do |liquor_comment| %>
          <%= liquor_comment.user.name %>
          <%= liquor_comment.comment %>
          <% if liquor_comment.user == current_user %>

          <div class="comment-delete">
            <%= link_to "削除", users_liquor_liquor_comment_path(liquor_comment.liquor, liquor_comment), method: :delete, class: "btn btn-sm btn-danger" %>
          </div>
          <% end %>
        <% end %>
      </div>

      <div class="new-comment">
        <%= form_with(url: users_liquor_liquor_comments_path(@liquor, @liquor_comment), local: true) do |f| %>
          <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
          <%= f.submit "送信する" %>
        <% end %>
      </div>
      <!--コメント-->

    </div>
  </div>
</div>