<div class="container">

  <div class="row mt-5">
    <div class="col-md-4 text-center mb-3">
      <%= attachment_image_tag @liquor, :image, size: '310x300' %>
    </div>

    <div class="col-md-8 px-5">
      <div class="row">
        <h2><%= @liquor.name %></h2>
      </div>

      <div class="row mt-3 mb-5">
        <p style='line-height:2rem'>
          <%= @liquor.detail %>
        </p>
      </div>

      <div class="row mt-3 mb-5">
        <p style='line-height:2rem'>
          <%= @liquor.genre.name %>
        </p>
      </div>
    </div>
    <%= render 'users/liquors/show', liquor: @liquor %>
  </div>
</div>